
.red-border {
    border-color:red; 
    border-width:10px;
    border-style:outset;
    border-radius:0px;
}
#background{
    background-color:black;
    color:white;
}   
#motherboard{
width:400px;
height:200px;
}
.imgpart  {
    display: inline-block;
    width:35%;
}
.textpart {
    display: inline-block;
    width:65%;
    position: absolute;
}
.cpuimg  {
    display: inline-block;
    width:35%;
}
.cputext  {
    display:inline-block;
    width:35%;
    position: absolute
}
#cpu  {
    width:400px;
    height:200px;
}
#ram  {
    width:400px;
    height:200px;
}
.ramimg  {
    display:inline-block;
    width:65%;
}
.ramtext  {
    display:inline-block;
    width:35%;
    position: absolute
}
#harddrive  {
    width:400px;
    height:200px;
}
.harddriveimg  {
    display: inline-block;
    width:65%;
}
.harddrivetext  {
    display: inline-block;
    width:35%;
}
#allOfCpu{
    display: inline;
}
/*#allofram{*/
/*    display:inline;*/
/*}*/
/*#allofharddrive{*/
/*    display:inline;*/
/*}*/
.harddrivetext{
    position: absolute;
    left:30%;
}
.ramtext{
    position: absolute;
    left: 30%;
}
